*{
    margin: 0;
    border: 0;
    padding: 0;
}


.cabecalho{
    text-align: center;
    background-color: black;
    padding-top: 8px;
    padding-bottom: 1px;
}

.textonav{
    color: #FFFFFF;
    font-family: "Roboto", Sans-serif;
    font-size: 14px;
    font-weight: 400;
}

.espaco{
    padding: 50px 0px 50px 0px;
}

.borda-vsl {
    border: 8px solid rgb(243, 48, 48);
    box-shadow: 0 0 1em rgb(243, 48, 48);
}
.corpovsl{
    padding: 10px;
    position: relative;
    width: 100%;
    flex-wrap: wrap;
    align-content: center;
    display: flex;
}
  

  .a-btn {
    text-decoration: none;
    -webkit-font-smoothing: antialiased;
    margin: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
    color: #2e82bc;
    outline: 0;
    line-height: 1;
    text-align: center;
    position: relative !important;
    display: inline-block !important;
    border-style: solid;
    width: 60%;
    padding-left: 0 !important;
    padding-right: 0 !important;
    margin-bottom: 10px;
    padding: 10px ;
    border-color: #ff5535;
    border-width: 0px;
    border-radius: 6px;
    background: linear-gradient(to bottom, #9ccc3a 0%, #5cad4a 100%);
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.5);
    text-decoration: none !important;
  }
  

  

  .span-btn {
    text-decoration: none;
    -webkit-font-smoothing: antialiased;
    text-align: center;
    margin: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
    display: block;
    position: relative;
    z-index: 1;
    padding: 0px;
    white-space: normal;
    font-size: 25px;
    color: #ffffff;
    font-family: "Roboto", Sans-serif;
    font-weight: bold;
    text-shadow: #000000 0px 1px 0px;
    text-decoration: none;
  }

  .count-c {
    font-weight: 600;
    border-bottom: solid 1px #dcdcdc;
    margin-bottom: 20px;
    margin-top: 0px;
    padding-bottom: 10px;
}

.c-content {
    margin: 0px 0px 30px 0px;
}


.c-section {
    position: relative;
    overflow-y: hidden;
    overflow-x: hidden;
    background-image: url(../img/bg-shadow-y.png);
    background-repeat: repeat-x;
    background-size: auto 250px;
}

.imagem-c{
    background-color: #999;
    width: 50px;
    height: 50px;
    float: left;
    
}
 img {
    height: auto;
    max-width: 100%;
    border: none;
    -webkit-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.nome-c {
    padding: 0px 0px 0px 10px;
    display: grid;
    font-weight: 800;
    color: #365899;
    font-size: 14px;
}

.comentario-c {
    padding: 0px 0px 0px 10px;
    display: grid;
    color: #090909;
    font-size: 14px;
}

.hora-c {
    color: #93979F;
    padding: 10px 0px 0px 0px;
    font-size: 11px;
}
p {
    margin-bottom: 1.75em;
    margin: 0px,0px,19.75px;
}

.tcmt{
    color: #4b4f58;
    font-size: 13.68px;
    font-family: "Open Sans", "Arial", "Helvetica", sans-serif;
}

.resposta {
    margin-top: -10px;
    margin-left: 40px;
    padding: 0px 0px 0px 10px;
    border-left: solid 1px #dcdcdc;
}

.resposta-c {
    margin-bottom: 10px;
}

.rodape{
        text-align: center;
        color: #FFFFFF;
        font-family: "Montserrat", Sans-serif;
        font-size: 11px;
        font-weight: 400;
        margin-top: 19.25px;
        
}

.rodape-espaco{
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 30px 0px 20px 0px;
}
  
